.button {
  font-weight: bold;
  border: 2px solid #f1c40f;
  background: none;
  padding: 8px 16px;
  border-radius: 8px;
  margin-right: 10px;
  transition: all 0.2s;

  &.active {
    background-color: #f1c40f;
    color: #000;
  }
}
.sub-Category-tab{
  margin-top: 10px;
  padding: 8px 16px;
  ::-webkit-scrollbar {
    display: none;
}

}
.scroll {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}

.sub-tab {
  margin: 8px 6px;
  font-size: 13px;
  background: none;
  border: none;
  color: #000;
  font-weight: 700;
  font-size: 18px;



  &.active{
    border-bottom: 2px solid #f1c40f;
  }
}
