.result{
    color: #ffffff;
    background:green ;
    padding: 10px;
    border-radius: 4px;
}

.match-winner{
    color: #ffffff;
}
.score-card{
    padding: 10px;
    background: #363838fd;
}

.pom{
    color: grey;
    text-align: center;
}